body {
    background-color: lightgray;    
}


.delete-button {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.body-content {
    margin-top: 75px;
    max-width: 800px;
    
}

.login-form {
    max-width: 200px;
}

#navbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.post {
    margin-top: 10px;
    position: relative;
    font-size: 1.8em;
    font-family: helvetica, tahoma;
    border: 1px solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    background-color: white;
}

.post-form {
    margin-bottom: 40px;
}

.form-control {
    resize: none;
}

.comment {
    margin-top: 19px;
    margin-left: 40px;
    position: relative;
    font-size: 1.8em;
    border: 1px solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    background-color: white;
}

.comment:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: -21px;
    border: 10px solid;
    border-color: transparent transparent black black;
}

.comment:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 31px;
    top: -19px;
    border: 10px solid;
    border-color: transparent transparent #fff #fff;
}

.comment-form {
    margin-top: 5px;
    margin-left: 40px;
}

.creator,
.creation-date,
.post-text,
.comment-text {
    margin-left: 20px;
    margin-right: 20px;
}

.post-button {
    margin-right: 5px;
    float: left;
}

.char-counter {
    margin-top: 4px;
    float:left;
}