body {
    background-color: #f0f5f5;
}

.delete-button {
    float: right;
    margin-right: 20px;
}

.body-content {
    margin-top: 75px;
    max-width: 800px;
    
}

.login-form {
    max-width: 200px;
}

#navbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.post {
     border-style: groove;
     margin-bottom: 20px;    
     
}

.post-content {
    margin-left: 20px;
    margin-bottom: 20px;
}

.post-form {
    margin-bottom: 40px;
}

.post-button {
    /*float: right;
    margin-right: 20px;*/
}

.form-control {
    resize: none;
}